// 修改 boostrap
.card {
  display: block;
}

// 自己樣式
.icon-s1 {
  width: auto;
  height: 180px;
}

.icon-s2 {
  width: 32px;
  height: 32px;
}

.icon-style {
  box-sizing: content-box;
  border-radius: 10% !important;

  &:hover {
    background: skyblue;
  }
}

//RWD
@media only screen and (max-width: 433px) {
  .carousel-img {
    height: 50vh;
  }
}

@media only screen and (min-width: 432px) {
  .carousel-img {
    height: 80vh;
  }
}

@media only screen and (min-width: 1025px) {
  .carousel-img {
    height: 100vh;
  }
}
